<div class="container-fluid bloque-a">

    <div class="container contenido">

        <div class="bloque-header col-12 col-md-6">
            <h2>3 Pasos y su web estará operativa</h2>
            <p>Déle a su negocio una presencia profesional en la web en tan sólo 15 días con las últimas tecnologías.</p>
        </div>

        <div class="accordion tresd" id="acordion">

            <div class="card">

                <div class="card-header" id="headingOne">
                    <h5 class="mb-0 col-11">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Contácte hoy mismo con nosotros
                        </button>
                    </h5>
                    <i class="material-icons medio col-1">message </i>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#acordion">
                    <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,
                        non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
                        moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                        Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                        Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic
                        synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>

            </div>

            <div class="card">

                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0 col-11">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                            aria-controls="collapseTwo">
                            Desarrollamos su web personalizada
                        </button>
                    </h5>
                    <i class="material-icons medio col-1">phonelink </i>
                </div>

                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#acordion">
                    <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,
                        non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
                        moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                        Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                        Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic
                        synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>

            </div>

            <div class="card">

                <div class="card-header" id="headingThree">
                    <h5 class="mb-0 col-11">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
                            aria-controls="collapseThree">
                            Comience a aumentar sus ventas
                        </button>
                    </h5>
                    <i class="material-icons medio col-1">group_add </i>
                </div>

                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#acordion">
                    <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,
                        non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
                        moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                        Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                        Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic
                        synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>

            </div>

        </div>

    </div>

</div>