<div class="container-fluid row footer">

  <div class="col-12 col-sm-6 footer-nosotros">

    <h4>Nosotros</h4>
    <div class="raya-2"></div>
    <p>Somos una agencia jóven de desarrollo web asentada en Barcelona. Nos especializamos en la integración del diseño web
      con el marketing online para que su negocio obtenga los mejores beneficios que brindan las últimas tecnologías.</p>

  </div>

  <div class="col-12 col-sm-6 footer-contacto">

    <h4>Contacto</h4>
    <div class="raya-2"></div>

    <div class="container row contacto-cuerpo">

      <div class="col-12 col-md-6 contacto-mail">

        <ol>
          <li>
            <i class="material-icons">mail_outline</i>
            <a href="mailto:hola@likuid.eu">Información</a>
          </li>
          <li>
            <i class="material-icons">mail_outline</i>
            <a href="mailto:servicio@likuid.eu">Ventas</a>
          </li>
          <li>
            <i class="material-icons">phone</i>
            <a href="callto:+34 691 20 11 74">Llamar</a>
          </li>
        </ol>

      </div>

      <div class="col-12 col-md-6 contacto-adress">

        <i class="material-icons">location_on</i>

        <ol>
          <li>
            Carrer del Pi 45
          </li>
          <li>
            08389 Sant Genís
          </li>
          <li>
            Palafolls - Barcelona
          </li>
        </ol>

      </div>

    </div>

  </div>

</div>

<div class="copy">
  <p>© Copyright 2018: Likuid - web design + development - Barcelona</p>
</div>