<div class="container-fluid footer">

  <div class="footer-nosotros">

    <h4>Nosotros</h4>
    <div class="raya-3"></div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere provident dicta perferendis itaque earum corrupti modi
      repudiandae! Saepe eos maxime quibusdam minus vitae ipsa, vero accusamus, inventore provident quod nesciunt.</p>
    <button type="submit" class="c2a tresd">
      Contáctenos
    </button>

  </div>

  <div class="footer-contacto">

    <h4>Nosotros</h4>
    <div class="raya-3"></div>

    <i class="material-icons">send</i>
    <p>hola@likuid.eu</p>

    <i class="material-icons">send</i>
    <p>adress</p>

  </div>

  <div class="footer-social">

    <h4>Disclaimer</h4>
    <div class="raya-3"></div>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi animi enim similique sunt aliquam ut, alias vero possimus,
      ea ducimus ipsam ratione exercitationem architecto natus ab magni, fugiat facilis dolor?</p>

    <i class="material-icons">send</i>
    <i class="material-icons">send</i>
    <i class="material-icons">send</i>

  </div>
</div>