<div class="container-fluid bloque-c">

    <div class="container contenido">

        <div class="bloque-header col-12 col-md-6">
            <h2>Vea Nuestras Demos</h2>
            <p>Tenemos distintas soluciones para las necesidades específicas de su negocio, completamente personalizables. </p>
        </div>

        <div class="bloque-body">

            <div class="card-deck">

                <div class="card">
                    <a class="demo-link tresd-link" href="#">
                        <h5 class="card-title">Inversiones</h5>
                        <img class="card-img-top" src="assets/img/version.png" alt="inversion web">
                        <div class="card-body">
                            <p class="card-text">Orientada en la búsqueda de inversores para distintos tipos de negocios</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Actualizada Julio 2018</small>
                        </div>
                    </a>
                </div>
                <div class="card">
                    <a class="demo-link tresd-link" href="#">
                        <h5 class="card-title">Corporación</h5>
                        <img class="card-img-top" src="assets/img/version.png" alt="corporation web">
                        <div class="card-body">
                            <p class="card-text">La mejor opción para generar una imagen de su compañía en la web</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Actualizada Julio 2018</small>
                        </div>
                    </a>
                </div>
                <div class="card">
                    <a class="demo-link tresd-link" href="#">
                        <h5 class="card-title">Inmobiliaria</h5>
                        <img class="card-img-top" src="assets/img/version.png" alt="real state web">
                        <div class="card-body">
                            <p class="card-text">Una solución integral ideal para agentes inmobiliarios</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Actualizada Julio 2018</small>
                        </div>
                    </a>
                </div>
            </div>

        </div>

    </div>

    <div class="bloque-footer">

    </div>

</div>