<div class="container-fluid bloque-c">

    <div class="container contenido">

        <div class="bloque-header col-12 col-md-6">
            <h2>Nuestros Servicios</h2>
            <p>Nosotros nos ocupamos de todo mientras Ud. se dedica a su negocio, diseñamos y desarrollamos completamente su
                presencia en la web.</p>
        </div>

        <div class="bloque-body">

            <div class="card-deck">

                <div class="card tresd card-ico">
                    <i class="material-icons grande">web</i>
                    <div class="card-body">
                        <h5 class="card-title">Contenido</h5>
                        <p class="card-text">Aumente sus ventas brindando a los usuarios potenciales un lugar donde conocer su negocio y comunicarse
                            en el momento.
                        </p>
                    </div>
                </div>

                <div class="card tresd card-ico">
                    <i class="material-icons grande">dns</i>
                    <div class="card-body">
                        <h5 class="card-title">Instalación</h5>
                        <p class="card-text">Podrá comenzar donde su negocio lo requiera para luego integrar diferentes módulos cuando le sea
                            necesario.
                        </p>
                    </div>
                </div>

                <div class="card tresd card-ico">
                    <i class="material-icons grande">build</i>
                    <div class="card-body">
                        <h5 class="card-title">Mantenimiento</h5>
                        <p class="card-text">Sus usuarios podrán acceder rapidamente a su web gracias a la rapidez de carga que garantiza nuestro
                            código optimizado y ligero.</p>
                    </div>
                </div>

                <div class="card tresd card-ico">
                    <i class="material-icons grande">dashboard</i>
                    <div class="card-body">
                        <h5 class="card-title">Actualización</h5>
                        <p class="card-text">Sus usuarios podrán acceder rapidamente a su web gracias a la rapidez de carga que garantiza nuestro
                            código optimizado y ligero.</p>
                    </div>
                </div>

            </div>

        </div>
        

    </div>

</div>

<div class="container-fluid bloque-b">
    <div class="container bloque-unico contenido">
        <div class="col-sm-8">
            <h2>Su presencia en la web completamente diseñada llave en mano</h2>
            <p>"MANTENIMIENTO Y ACTUALIZACIÓN INCLUÍDOS EN EL PRIMER AÑO"</p>
        </div>
        <a class="c2a tresd" href="#formulario">EMPEZAR HOY!</a>
    </div>
</div>