<div class="container-fluid bloque-a">
    <div class="container contenido">

        <div class="bloque-header col-12 col-md-6">
            <h2>Grandes Ventajas</h2>
            <p>Una landing page elegante, rápida y directa para destacar las ventajas de su negocio y obtener un alto índice de leads.</p>
        </div>

        <div class="bloque-body">
            <div class="card-deck">
                <div class="card tresd">
                    <img class="card-img-top" src="assets/img/expansion.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Expansión</h5>
                        <p class="card-text">Aumente sus ventas brindando a los usuarios potenciales un lugar donde conocer su negocio y comunicarse en el momento.</p>
                        <div class="raya"></div>
                        <p class="card-text">
                            <small class="text-muted">Su negocio estará operativo 24 horas al día todos los días del año sin interrupciones.</small>
                        </p>
                    </div>
                </div>
                <div class="card tresd">
                    <img class="card-img-top" src="assets/img/integracion.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Integración</h5>
                        <p class="card-text">Podrá comenzar donde su negocio lo requiera para luego integrar diferentes módulos cuando le sea necesario.
                        </p>
                        <div class="raya"></div>
                        <p class="card-text">
                            <small class="text-muted">E-commerce, blog, área clientes, servicios de atención, operaciones, bases de datos y mucho más.</small>
                        </p>
                    </div>
                </div>
                <div class="card tresd">
                    <img class="card-img-top" src="assets/img/usuario.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Velocidad</h5>
                        <p class="card-text">Sus usuarios podrán acceder rapidamente a su web gracias a la rapidez de carga que garantiza nuestro código optimizado y ligero.</p>
                        <div class="raya"></div>
                        <p class="card-text">
                            <small class="text-muted">La decisión de quedarse en su página o ir a la competencia puede tomarse en un microsegundo, no les de esa opción.</small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="bloque-footer">
            <button type="button" class="c2a tresd ctf">SABER MÁS</button>
        </div>
    </div>
</div>